*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: batman;
    src: url(./BeautifulPeoplePersonalUse-dE0g.ttf);
}
@font-face {
    font-family: batman1;
    src: url(./YouthTouchDemoRegular-4VwY.ttf);
}
header{
    position: sticky;
    top: 0px;
    z-index: 1;
}
header nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

header nav h1{
    padding-left: 20px;
    font-family: batman;
    letter-spacing: 3px;
    background: #FDFF00;
    background: linear-gradient(to right, #FDFF00 0%, #988829 25%, #746e6e 50%, #5d636f 75%, #505C7C 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header nav form{
    display: flex;
    justify-content: center;
    padding-right: 50px;
}

header nav input{
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: "Playfair Display", serif;
}
#searchbtn, #cartbtn{
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-family: "Playfair Display", serif;
}
form select{
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    font-family: "Playfair Display", serif;
}
#searchbtn,#cartbtn{
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-right: 5px;
}
form button:hover,.box button:hover{
    background-color: rgb(225, 171, 34);
    color: black;
    transform: scale(1.05);
}
#container{
    text-align: center;
    display: grid;;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
}
section>h2{
    font-size:xx-large;
    font-family: batman1;
    text-align: center;
    padding-top: 20px;
    text-shadow: 2px 0 #a18b8b;
    font-family: "Playfair Display", serif;
}

.box img{
    width: 100%;
    height: 45%;
    border-radius: 10px 10px 0px 0px;
}
body{
    background-color: #f0f0f0 ;
}
.box{
    border: 2px solid black;
    background-color: white;
    display: flex;
    width: 90%;
    height:85%;
    margin-left: 4%;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(78,73,73);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    
}
.box:hover{
    transform: scale(1.05);
}
.box h2{
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-top: 10px;
}
.box p{
    font-size: 20px;
    margin-top: 10px;
    font-family: "Playfair Display", serif;
    font: bold;
}
.box button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin: 10px auto;
    font-family: "Playfair Display", serif;
    border: none;
    background-color: red;
    color: white;
    transition: all 0.5s ease-in-out;
}
#recipecontainer{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: bisque;
    -webkit-transform: translate(-50%,-40%);
    font-family: "Playfair Display", serif;
    border-radius: 15px;
    width: 60%;
    height: 75%;
    font-size: 20px;
    overflow-y: scroll;
    transition: all 0.5s ease-in-out;
}
#recipecontainer button{
    margin-right: 20px;
    font-family: "Playfair Display", serif;
    margin-top: 10px;
    width: 60px;
}
#recipebox{
    font-family: "Playfair Display", serif;
    padding: 30px;
}
#recipebox .name{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
}
.inglist li{
    margin-top: 10px;
    margin-bottom: 15px;
}
.process p{
    line-height: 30px;
    white-space: pre-line;
}
#closebtn{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    width: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
}
#closebtn:hover{
    color: red;
    transform: scale(1.25);
}
::-webkit-scrollbar{
    display: none;
}

#countryimg{
    height: 65%;
}
#catimg{
    height: 65%;
}
.notice{
    color: rgb(228, 137, 137);
}

@media screen and (max-width:600px){
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80%;
        margin-bottom:18px;
    }
    header nav h1{
        margin-top: 10px;
    }
}